/Java Own Cheat Sheets/GoogleFoobar/nbproject/private/
/Java Own Cheat Sheets/GoogleFoobar/build/
/Java Own Cheat Sheets/GoogleFoobar/dist/
/Java Own Cheat Sheets/ChannelManager/nbproject/private/
/Java Own Cheat Sheets/ChannelManager/build/
*.DS_Store